@charset "utf8";

@font-face {
  font-display: swap;
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Literata';
  src: url('../fonts/Literata-VariableFont_opsz\,wght.ttf') format('truetype');
}

:root {
  --header-height: 150px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3 {
  font-family: "Literata", sans-serif;
  font-variation-settings: 'wght' 600;
  font-variant: small-caps;
}

h1,
h2 {
  display: inline;
  color: #ffa600;
  background-image: linear-gradient(135deg, #ffa600 0%, #fc4079 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  font: 1.3rem "Quicksand", sans-serif;
  font-variation-settings: 'wght' 400;
  scroll-behavior: smooth;
}

/* ----------------------------------------------- */
/* ------------------- Header -------------------- */
/* ----------------------------------------------- */
#topheader {
  background: #121212;
  color: #F5F5F5;
  height: var(--header-height);
  padding: 2%;
  font-size: 1.2rem;
  box-shadow: 0 0 5px 5px rgba(18, 18, 18, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: 0.3s;
}

#topheader.shrink {
  height: calc(var(--header-height) * 0.5);
  transition: 0.3s;
}

#topnav ul {
  list-style: none;
}

#topnav a {
  color: #F5F5F5;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-variant: small-caps;
  transition: 0.5s;
  display: block;
}

.active {
  color: #ffa600;
  font-variation-settings: 'wght' 700;
  background-image: linear-gradient(120deg, #ffa600 0%, #fc4079 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#topnav a:hover {
  font-variation-settings: 'wght' 700;
  transition: 0.5s;
}

#topnav li::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background: linear-gradient(120deg, #ffa600 0%, #fc4079 60%);
  box-shadow: 0 0 4px 1px rgba(245, 245, 245, 0.2);
  transform: scaleX(0);
  transition: 0.5s;
}

#topnav li:hover::after {
  transform: scaleX(1);
}

main {
  background: #1a1a1a;
  color: #F5F5F5;
  overflow: hidden;
  min-height: 1000px;
}

/* ----------------------------------------------- */
/* ------------------- Footer -------------------- */
/* ----------------------------------------------- */
#footer {
  background: #121212;
  color: #F5F5F5;
  height: 120px;
}

#footer a {
  color: #F5F5F5;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 1.2rem;
}

#footer a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

/* ----------------------------------------------- */
/* -------------- Section 1 - Start -------------- */
/* ----------------------------------------------- */
#page1 {
  background: #121212;
  padding-top: var(--header-height);
}

.hero_image {
  flex-grow: 1;
  flex-basis: 50%;
  position: relative;
}

.hero_text {
  position: absolute;
  inset: 0 50% 0 0;
  z-index: 90;
  background: rgba(0, 0, 0, 0.8);
  padding: 2%;
  text-align: center;
}

.hero_text>* {
  margin: 0.5rem 0;
  text-align: center;
}

.h2 {
  font-size: 1.2rem;
}

.typewriter {
  min-height: 150px;
}

/* ----------------------------------------------- */
/* ------------ Section 2 - Über mich ------------ */
/* ----------------------------------------------- */
.skill_container {
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem auto;
}

.rahmen:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.rahmen {
  min-width: 250px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  transform: scale(1);
  transition: 0.5s;
}

.html_skill {
  border: 5px solid #e34f26;
  background: #ef652a;
  box-shadow: 0 0 10px 5px rgba(239, 101, 42, 0.2);

}

.css_skill {
  border: 5px solid #264de4;
  background: #2965f1;
  box-shadow: 0 0 10px 5px rgba(41, 101, 241, 0.4);
}

.jq_skill {
  border: 5px solid #0868ac;
  background: #76cef2;
  box-shadow: 0 0 10px 5px rgba(118, 207, 242, 0.2);
}

.js_skill {
  border: 5px solid #f7e018;
  background: #ffbb00;
  box-shadow: 0 0 10px 5px rgba(255, 187, 0, 0.2);
}

.skill_icon {
  margin: 1rem auto;
  width: 150px;
  height: 150px;
  transform: scale(1);
  transition: 1s;
}

.rahmen:hover .skill_icon {
  transform: scale(2.5) translateY(10%);
}

.rahmen figcaption {
  background: rgba(0, 0, 0, 0.8);
  padding: 0.5rem 1rem;
  height: 350px;
  position: absolute;
  top: 65%;
  left: 0;
  right: 0;
  transition: 1s;
}

.rahmen:hover figcaption {
  top: 0;
}

#page2 figcaption p {
  font-size: 0.74rem;
  line-height: 1.2rem;
  margin: 0.5rem auto;
}

#page2 figcaption small {
  color: #aaa
}

/* ----------------------------------------------- */
/* ------------- Section 3 - Projekte ------------ */
/* ----------------------------------------------- */
.slider {
  position: relative;
}

.card_container {
  position: relative;
  width: 70vw;
  min-height: 650px;
  overflow: hidden;
  background: #121212;
  border-radius: 10px;
  margin: 2rem auto 0;
  background: linear-gradient(120deg, #ffa600 0%, #fc4079 60%);
}

.card {
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
  width: calc(100% - 0.5rem);
  height: calc(100% - 0.5rem);
  margin: 0.25rem;
  background: #1a1a1a;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_img {
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  flex-grow: 1;
}

.card_content ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.card_content a {
  color: #F5F5F5;
  text-decoration: none;
  line-height: 48px;
  padding: 0.5rem 1rem;
  border-radius: 1000px;
  border: 1px solid #ffa600;
  transition: 0.3s;
}

.card_content a:hover {
  background: rgba(255, 166, 0, 0.5);
  box-shadow: 0 0 4px 2px rgba(245, 245, 245, 0.3);
}

#arrow_left,
#arrow_right {
  background: rgba(245, 245, 245, 0.3);
  color: #121212;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.3s;
}

#arrow_left:hover,
#arrow_right:hover {
  background: rgba(245, 245, 245, 0.6);
}

#arrow_left {
  left: 0;
}

#arrow_right {
  right: 0;
}

#arrow_left i,
#arrow_right i {
  padding: 0; 
}

.next_slide_out {
  animation: nextSlideOut 1s forwards;
}

.next_slide_in {
  animation: nextSlideIn 1s forwards;
}

@keyframes nextSlideOut {
  from { transform: translateX(0) }
  to { transform: translateX(-100%) }
}

@keyframes nextSlideIn {
  from { transform: translateX(100%) }
  to { transform: translateX(0) }
}

.prev_slide_out {
  animation: prevSlideOut 1s forwards;
}

.prev_slide_in {
  animation: prevSlideIn 1s forwards;
}

@keyframes prevSlideOut {
  from { transform: translateX(0) }
  to { transform: translateX(100%) }
}

@keyframes prevSlideIn {
  from { transform: translateX(-100%) }
  to { transform: translateX(0) }
}

.hidden {
  display: none;
}

/* ----------------------------------------------- */
/* ------------- Section 4 - Kontakt ------------- */
/* ----------------------------------------------- */
#page4{
  display: flex;
  gap: 2rem;
}

#page4 .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#page4 h2 {
  margin-right: auto;
}

.kontakt {
  width: 100%;
  padding: 1rem 0.5rem 0.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 4px rgba(245, 245, 245, 0.08);
}

.kontakt_info a {
  color: #F5F5F5;
  text-decoration: none;
}

.kontakt_info a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  transition: 0.5s;
}

.kontakt_info {
  color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
}

.small_foto {
  max-width: 150px;
  border: 2px solid #F5F5F5;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.5rem;
  box-shadow: 0 0 10px 10px rgba(18, 18, 18, 0.6);
}

form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input_label>input {
  height: 48px;
  width: 100%;
}

textarea {
  width: 100%;
}

input,
textarea {
  background: #121212;
  color: #F5F5F5;
  font: 1rem "Quicksand", sans-serif;
  resize: vertical;
  border: none;
  border-bottom: 3px solid #bdbdbd;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px 4px rgba(245, 245, 245, 0.08);
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: 3px solid #ffa600;
}

.input_label {
  position: relative;
  margin-bottom: 2rem;
}

.input_label>label {
  padding: 0 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  line-height: 48px;
  cursor: text;
  transition: 0.3s;
}

.error_message {
  position: absolute;
  top: 48px;
  left: 0;
  z-index: 50;

  color: #fc4079;
  background-color: #311d23;
  text-align: center;
  border-radius: 5px;
  width: 100%;
}

.hide_message {
  display: none;
}

input:focus+label,
textarea:focus+label,
input:valid+label,
textarea:not(:placeholder-shown)+label {
  color: #bdbdbd;
  top: -40px;
  pointer-events: none;
  font-size: 0.9rem;
}

.input_label>label.warning {
  color: #fc4079;
  top: -40px;
  font-size: 0.9rem;
}

form .button {
  width: 100%;
  margin: 1rem 0;
  padding: 0;
}

.ds_container {
  position: relative;
}

#dschutz+.ds_label {
  font: 0.9rem "Quicksand", sans-serif;
  margin-bottom: 2rem;
  line-height: 1.2rem;
  color: #F5F5F5;
}

.ds_label a {
  color: #F5F5F5;
}

.ds_checker {
  transform: scale(1.2);
  accent-color: #ffa600;
}

.modal {
  display: none;
  position: fixed;
  z-index: 150;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background: rgba(18, 18, 18, 0.6);
}

.modal_content {
  background: rgba(18, 18, 18, 1);
  border: 5px solid #29232e;
  box-shadow: 0 0 5px 5px #121212;
  margin: 15% auto;
  padding: 20px;
  width: 50%;
}

.close_modal {
  font-size: 48px;
  cursor: pointer;
}

.show_modal {
  display: block;
}

.no_scroll {
  overflow: hidden;
}

  /* Impressum und Datenschutz Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background: rgba(18, 18, 18, 0.4);
  overflow-y: scroll;
}

.overlay_content {
  position: relative;
  top: 0;
  left: 50%;
  z-index: 200;
  transform: translateX(-50%);

  background: rgba(18, 18, 18, 0.8);
  width: clamp(200px, 80%, 90vw);
  min-height: 100%;
  padding: 2rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #F5F5F5;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 48px;
  padding: 1rem;
  cursor: pointer;
}

.overlay_content p {
  padding-bottom: 1rem;
}

.overlay_content h2,
.overlay_content h3,
.overlay_content h4 {
  display: inline-block; 
  padding: 1rem 0;
  font-variation-settings: 'wght' 500;
  font-variant: small-caps;
  padding: 1rem 0;
  text-decoration: underline rgba(245, 245, 245, 0.5);
  text-underline-offset: 0.5rem;
}

.overlay_content h3 {
  display: block;
  font-size: 1.2rem;
}

.overlay_content h4 {
  font-size: 1.2rem;
}

.overlay_content a {
  text-decoration: none;
  color: #F5F5F5;
}

.show_overlay {
  display: block;
}

.hide_overlay {
  display: none;
}

/* ----------------------------------------------- */
/* ---------- generelle Klassen/Elemente --------- */
/* ----------------------------------------------- */
article[id*="page"] {
  padding: 4% 0;
  min-height: 100vh;
  position: relative;
  width: 80vw;
  margin: auto;
}

article[id*="page"]::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(120deg, #ffa600 0%, #fc4079 60%);
  opacity: 0.3;
  box-shadow: 0 0 6px 2px rgba(245, 245, 245, 0.1);
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  line-height: 1.6rem;
  margin: 1rem 0;
}

.button {
  line-height: 48px;
  margin: 1rem;
  padding: 0 1rem;
  display: block;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background: linear-gradient(120deg, #ffa600 0%, #fc4079 60%);
  box-shadow: 0 0 10px 5px rgba(18, 18, 18, 0.6);
  color: #000;
  font-variation-settings: 'wght' 600;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.button:hover {
  transform: scale(1.01);
  box-shadow: 0 0 5px 5px rgba(255, 166, 0, 0.3);
}

.button_animation {
  animation: jump_shake 2.5s infinite;
  display: block;
}

.bg_animation {
  border-radius: 5px;
  animation: jump_shake 2.5s infinite, darken_bg 2.5s infinite;
}

@keyframes jump_shake {
  0%    { transform: translateY(0) }
  15%   { transform: translateY(-9px) }
  20%   { transform: translateY(-9px) rotate(5deg) }
  25%   { transform: translateY(-9px) rotate(-5deg) }
  30%   { transform: translateY(-9px) rotate(5deg) }
  35%   { transform: translateY(-9px) rotate(-5deg) }
  40%   { transform: translateY(-9px) rotate(5deg) }
  45%   { transform: translateY(-9px) rotate(-5deg) }
  50%   { transform: translateY(-9px) rotate(5deg) }
  55%   { transform: translateY(-9px) rotate(-5deg) }
  60%   { transform: translateY(-9px) rotate(5deg) }
  65%   { transform: translateY(-9px) rotate(-5deg) }
  70%   { transform: translateY(-9px) rotate(5deg) }
  75%   { transform: translateY(-9px) rotate(-5deg) }
  80%   { transform: translateY(-9px) rotate(5deg) }
  85%   { transform: translateY(-9px) rotate(-5deg) }
  100%  { transform: translateY(0) rotate(0) }
}

@keyframes darken_bg {
  0%    { background: linear-gradient(120deg, rgba(255, 166, 0, 0) 0%, rgba(252, 64, 121, 0) 60%) }
  10%   { background: linear-gradient(120deg, rgba(255, 166, 0, 1) 0%, rgba(252, 64, 121, 1) 60%) }
  80%   { background: linear-gradient(120deg, rgba(255, 166, 0, 1) 0%, rgba(252, 64, 121, 1) 60%) }
  100%  { background: linear-gradient(120deg, rgba(255, 166, 0, 0) 0%, rgba(252, 64, 121, 0) 60%) }
}

i {
  padding-right: 0.5rem;
  font-size: 0.9rem;
}

/* ----------------------------------------------- */
/* ----------------- Flex-Klassen ---------------- */
/* ----------------------------------------------- */
.flex_container {
  display: flex;
}

.flex_column {
  flex-direction: column;
}

.flex_jc_between {
  justify-content: space-between;
}

.flex_jc_around {
  justify-content: space-around;
}

.flex_jc_even {
  justify-content: space-evenly;
}

.flex_jc_center {
  justify-content: center;
}

.flex_ai_center {
  align-items: center;
}

.flex_ai_base {
  align-items: baseline;
}

.flex_100>* {
  flex: 1 0 0;
}

.gap1rem {
  gap: 1rem;
}